<div 
style ="cursor: pointer"
 [routerLink]="[recipe.id]"
    routerLinkActive="active"
    class="card mb-1 card-hover" >
    <div class="row no-gutters d-flex align-items-stretch reveal">
     <div class="col-md-6"> 
         <img class="card-img h-100" src="{{ recipe.imagePath }}" alt="">
    </div>
    <div class="col-md-6"> 
     <div class="card-body">
             <h4 class="card-title" >{{recipe.name}}</h4>
             <h6 class="card-subtitle mb-2 text-muted" >{{recipe.description}}</h6>
   
            
     <a href="#" class="card-link">Edit</a>
     <a href="#" class="card-link">Delete</a>
     <a href="#" class="card-link">{{recipe.id}}</a>
     </div>
    </div>
 </div>

</div>
