<div class="card flex-fill" style="width:400px">
    <img class="card-img-top" src={{recipe.imagePath}} alt="Card image">
    
    <div class="card-body">
      <h4 class="card-title">{{recipe.name}}</h4>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary mr-auto">Edit</button>
            <button type="button" class="btn btn-primary">Delete</button>
         
          </div>
    </div>
  </div>