<div class="d-flex">
    <label class="sr-only" for="inlineFormInputName2">Name</label>
    <input type="text" #nameInput class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Ingredient name">
  
    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
    <div #amountInput class="input-group mb-2 mr-sm-2">
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Amount">
    </div>
    <div class="btn-group mb-2" role="group" aria-label="First group">
        <button  class="btn btn-success mr-1 " (click)="onAddIngredient()">Add</button>
        <button type="submit" class="btn btn-danger mr-1">Delete</button>
        <button type="submit" class="btn btn-primary">Clear</button>

        </div>
    
      </div>