<div class="row">
    <div class="col-xs-12  ml-auto">
        <button class="btn btn-success mb-1">
           Add recipe
        </button>
    </div>
</div>


<div class="row">
    <div class="col-12 p-0">
       <div class="card mb-1" *ngFor="let recipe of recipes">
           <div class="row no-gutters d-flex align-items-stretch">
            <div class="col-md-4"> 
                <img class="card-img" src="{{ recipe.imagePath }}" alt="">
           </div>
           <div class="col-md-8"> 
            <div class="card-body">
                    <h4 class="card-title" >{{recipe.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted" >{{recipes[0].description}}</h6>
          
                   
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
            </div>
           </div>
        </div>

       </div>
    </div>
</div>

<div class="container">
    <div class="row my-4">
      <div class="col">
        <div class="jumbotron">
          <h1>Bootstrap 4 Cards all same height demo</h1>
          <p class="lead">by djibe.</p>
          <span class="text-muted">(thx to BS4)</span>
          <p>Dependencies : standard BS4</p>
          <p>
            Enjoy the magic of flexboxes and leave the useless card-decks.
          </p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                  A small card content.
                </div>
              </div>
              <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                  in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </div>
              </div>
              <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                  Another small card content.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


