<div class="row">
    <div class="col-xs-12  ml-auto">
        <button class="btn btn-success mb-1">
           Add recipe
        </button>
    </div>
</div>


<div class="row">
    <div class="col-12 p-0">
       <div class="card mb-1 card-hover" *ngFor="let recipe of recipes">
           <div class="row no-gutters d-flex align-items-stretch reveal">
            <div class="col-md-6"> 
                <img class="card-img h-100" src="{{ recipe.imagePath }}" alt="">
           </div>
           <div class="col-md-6"> 
            <div class="card-body">
                    <h4 class="card-title" >{{recipe.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted" >{{recipes[0].description}}</h6>
          
                   
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
            </div>
           </div>
        </div>

       </div>
    </div>
</div>

